.card {
  height: 25vmin;
  width: 40vmax;
  margin: 3% auto;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px, solid, rgba(255, 255, 255, 0.6);
}

.card>* {
  height: 22.5vmin;
  width: 12vmax;
}

.card>.head-img {
  color: #fff;
}

.card>.head-img>.img-l,
.card>.head-img>.img-y {
  margin: 0 auto;
  width: 16.4vmin;
  height: 16.4vmin;
  border-radius: 50%;
}

.card>.head-img>.name {
  font-size: 1.5em;
  font-weight: bold;
  height: 20%;
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.card>.head-img>.img-l {
  background-image: url(../static/lkr.png);
  background-position: center;
}

.card>.head-img>.img-y {
  background-image: url(../static/yjy.jpg);
  background-position: center;
}

.card>.heart {
  display: flex;
  width: 20vmin;
  height: 20vmin;
  justify-content: center;
  align-items: center;
}

.card>.heart>.ani {
  position: absolute;
  width: 4vmin;
  height: 4vmin;
  background-color: red;
  animation: HeaBeat 1s linear infinite;
}

.card>.heart>.ani:nth-of-type(2) {
  position: absolute;
  width: 4vmin;
  height: 4vmin;
  background-color: red;
  animation: HeaBeat2 1s linear infinite;
}

.card>.heart>.ani::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  transform: translateX(-50%);
}

.card>.heart>.ani::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  transform: translateY(-50%);
}

@keyframes HeaBeat {
  0% {
    transform: scale(1) rotate(45deg);
  }

  100% {
    transform: scale(1.5) rotate(45deg);
  }
}

@keyframes HeaBeat2 {
  0% {
    transform: scale(1) rotate(45deg);
    opacity: 1;
  }

  100% {
    transform: scale(2.3) rotate(45deg);
    opacity: 0;
  }
}

@media(max-width: 768px) {
  .card {
    height: 35vmin;
  }
}
