.nav {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 6vh;
  align-items: center;
  display: flex;
  position: relative;
  color: rgba(129, 216, 209);
}

.nav>.title:nth-child(1) {
  line-height: 100%;
  align-items: center;
  display: flex;
  font-size: 1.3em;
  font-weight: bold;
  position: absolute;
  left: 5%;
}

.nav>.title:nth-child(2) {
  line-height: 100%;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
  position: absolute;
  right: 5%;
}
