.page {
  width: 100%;
  height: 45%;
  margin-top: 10%;
  background-color: #ffffff;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page>.time {
  margin: 2%;
  justify-content: center;
  height: 20%;
  width: 100%;
  /* align-items: center; */
}

.page>.time>.title {
  background-image: linear-gradient(to right, #e66465, #9198e5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page>.time>#time {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  /* font-weight: bold; */
}

.page>.jump {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page>.jump>a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100px;
  background-color: #f6f6f7;
  border-radius: 20px;
  border: 1px, solid, rgba(255, 255, 255, 0.6);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
  font-size: 2em;
  font-weight: 900;
  color: pink;
  text-decoration: none;
}
