.swiper-constainer {
    position: absolute;
    display: flex;
    width: 42vmax;
    height: 25vmax;
    transform: translate(120%, -145%);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.swiper {
    width: 42vmax;
    height: 20vmax;
    position: absolute;
    transform: translateY(20%);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.swiper-constainer>.title {
    color: black;
    font-size: 3vmax;
    font-weight: 800;
}

.swiper>.swiper-img {
    opacity: 0;
    background-position: center center;
    width: 100%;
    position: absolute;
    transition: 0.4 ease;
}

.swiper .active {
    opacity: 1;
}